*{
  background: #cccccc;
}

.page-title{
  text-align: center;
  color: #030303;
}

h1 {
  font-family: sans-serif;
  color: white;
  background: #030303;
  border-color:#030303;
  border-top: 10px;
  margin: 0;
  height: 10%;
  padding: 50px;

}

.article-section{
width: 80%;
height: 35rem;
margin: 5% 0% 5% 10%;
border: 5px solid #030303;
background: white;
}

.rate-this-article{
  border: 5px solid #030303;
  margin: 3% 30% 5% 30%;
  position: center;
  top: 50%;
  left: 50%;

}
.rating input
{
  /*dispaly: none;*/
}
.rating label
{
  display: block;
  cursor: pointer;
  width: 50px;
  background: #ccc;

}


.button-back{
  text-align: left;
}

.buttons{
  display:grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}

.footer {
  font-family: sans-serif;
  color: white;
  background: #030303;
  border-color:#030303;
  border-top: 10px;
  margin: 0;
  height: 10%;
  padding: 30px;


}
